<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% if (background) { %>
      <style>
        body::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.3;
          z-index: -1;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('https://media.themoviedb.org/t/p/w1920_and_h800_multi_faces<%= background %>');
        }
      </style>
      <% } %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Register</p>
    <form method="POST" action="/register/<%= id %>">
      <label>
        Full name
        <input name="name" type="text" required />
      </label>
      <label>
        Email
        <input name="email" type="email" required />
      </label>
      <label>
        Date of birth
        <input name="date" type="date" required />
      </label>
      <span>Where did you hear about this event?</span>
      <label>
        <input name="where" type="radio" value="media" required />
        Social media
      </label>
      <label>
        <input name="where" type="radio" value="friends" required />
        Friends
      </label>
      <label>
        <input name="where" type="radio" value="myself" required />
        Found myself
      </label>
      <input type="submit" />
    </form>
  </body>
</html>
