<!DOCTYPE html>
<html>
  <head>
    <title>Cinema events</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% if (background) { %>
      <style>body::before{background-image: url('https://media.themoviedb.org/t/p/w1920_and_h800_multi_faces<%= background %>')}</style>
    <% } %>
  </head>
  <body>
    <header class="header_container">
      <a href="/" class="header_wrapper">
        <img src="/images/logotype.png" />
        <h1 class="title">Cinema events</h1>
      </a>
    </header>
    <h1 class="reg_title"><%= title %></h1>
    <p class="reg_text">Event registration</p>
    <form method="POST" action="/register/<%= id %>">
      <label>
        Full name
        <input name="name" type="text" required class="reg_input"/>
      </label>
      <label>
        Email
        <input name="email" type="email" required class="reg_input"/>
      </label>
      <label>
        <p>Date of birth</p>
        <input name="date" type="date" required class="input_date"/>
      </label>
      <span class="question_form">
        Where did you hear about this event?
      </span>
      <label class="question">
        <input name="where" type="radio" value="media" required />
        Social media
      </label>
      <label class="question">
        <input name="where" type="radio" value="friends" required />
        Friends
      </label>
      <label class="question">
        <input name="where" type="radio" value="myself" required />
        Found myself
      </label>
      <input type="submit" value="Send" class="input_sub"/>
    </form>
    <footer>The site was created by Lyudmila Dyachenko</footer>   
  </body>
</html>
